
input[type="checkbox"] {
  margin-top: 25px;
  position: relative;
  width: 40px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -moz-appearance: none;
  outline: none;
  background-color: #969495;
  border-radius: 15px;
  transition: all .5s;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: #f3f3f3;
  border-radius: 50%;
  box-shadow: -2px 2px 5px  rgba(0, 0, 0, .2);
  transition: all 0.5s;
}

input:checked[type="checkbox"] {
  background-color: #499b15;
}

input:checked[type="checkbox"]::before {
  left: 25px;
}